<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">

<div id="application" style="margin: 30 10%">
  <h2>{{showMode()}}</h2>
  <button @click="changeMode()" class="button-primary pure-button">Importo/Percentuale</button>
  <div class="pure-grid">
    <div class="pure-u-1-4">
      Totale: <input v-model="totale" type="number" name="Totale" />
    </div>
    <div class="pure-u-1-4">
      <div v-if="!percentuale">
        Nuovo totale: <input v-model="nuovoTotale" type="number" name="nuovoTotale" />
      </div>
    </div>
  </div>
  <div class="pure-grid">
    <div class="pure-u-1-4">
      <div v-for="(erede, index) in eredi">
        Erede {{index + 1}}: <input v-model="eredi[index]" type="number" name="Erede" />
      </div>
      <button @click="addRow" class="button-primary pure-button">Aggiungi erede</button>
      <button @click="removeRow" class="button-error pure-button">Rimuovi erede</button>
    </div>
    <div class="pure-u-1-4">
      <div v-for="(erede, index) in eredi">
        Erede {{index + 1}}: <input class="disabled" readonly="" type="number" :value="calcolaPercentuale(erede)" />
      </div>
    </div>
  </div>
</div>

<script>
  var applicaion = new Vue({
    el: "#application",
    data: {
      totale: 0,
      nuovoTotale: 0,
      eredi: [],
      percentuale: false
    },
    methods: {
      addRow() {
        this.eredi.push(0);
      },
      removeRow() {
        this.eredi.pop();
      },
      changeMode() {
        this.percentuale = !this.percentuale;
      },
      showMode() {
        if(this.percentuale) {
          return "Percentuale"
        } else {
          return "Importo esatto"
        }
      },
      calcolaPercentuale(erede) {
        if(this.percentuale) {
          return this.totale * erede / 100;
        } else {
          return erede / this.totale * this.nuovoTotale;
        }
      }
    }
  });
</script>

<style>
  * {
    margin: 5px 0;
  }

  .button-success,
  .button-error,
  .button-warning,
  .button-secondary,
  .button-primary{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .button-primary {
    background: rgb(0, 120, 231);
  }

  .button-success {
    background: rgb(28, 184, 65);
  }

  .button-error {
    background: rgb(202, 60, 60);
  }

  .button-warning {
    background: rgb(223, 117, 20);
  }

  .button-secondary {
    background: rgb(66, 184, 221);
  }
</style>
