<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<div id="application">
  <input v-model="percentuale" type="checkbox">
    Totale: <input v-model="totale" type="number" name="Totale" />
    <br>
    <div v-for="(erede, indice) in eredi">
      Erede: <input v-model="eredi[indice]" type="number" name="Erede" />
    </div>
    <button @click="addRow">Aggiungi erede</button>
    <button @click="addRow">Rimuovi erede</button>
    <br>
    <div v-if="!percentuale">
      Nuovo totale: <input v-model="nuovoTotale" type="number" name="nuovoTotale" />
    </div>
    <div v-for="erede in eredi">
      <li>Erede: {{ calcolaPercentuale(erede) }}</li>
    </div>
  </div>
</div>

<script>
  var applicaion = new Vue({
    el: "#application",
    data: {
      totale: 0,
      nuovoTotale: 0,
      eredi: [],
      percentuale: false
    },
    methods: {
      addRow() {
        this.eredi.push(0);
      },
      removeRow() {
        this.eredi.pop();
      },
      calcolaPercentuale(erede) {
        if(this.percentuale) {
          return this.totale * erede / 100;
        } else {
          return erede / this.totale * this.nuovoTotale;
        }
      }
    }
  });
</script>
